body{
    background-color: lemonchiffon;
}
.container{
    /* border: 2px solid red; */
    height: 97vh;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.heading{
    color: rgb(73, 53, 255);
    /* position: absolute; */
    /* margin: 1rem 1rem; */
    font-size: 3rem;
    font-weight: bolder;
}
.C_body{
    background-color: rgb(38, 139, 7);
    display: flex;
    margin: 1rem;
    /* margin-left: 32rem; */
    margin-top: 2rem;
    border: 5px solid rgba(0, 0, 0, 0.184);
    height: 72vh;
    width: 28rem;
    border-radius: 15px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.371);
    align-items: center;
}

.C_screen{

    border: 5px solid rgba(250, 128, 114, 0.564);
    margin: 1.5rem;
    height: 4rem;
    width: 24rem;
    background-color: rgb(255, 242, 60);
    text-align: right;
    font-size: 6vh;
    padding: 5px;
}

.C_keys{
    text-align:center;
    display: grid;
    grid-template-columns: auto auto auto 8rem;
    padding: 1rem;
    border: 5px solid rgb(250, 128, 114);
    margin: 2rem;
    height: 45vh;
    border-radius: 5px;
    
}
.key{
    margin: 5px;
    padding: 1.5rem;
    border: 2px solid rgba(0, 0, 0, 0.223);
    border-radius: 5%;
    background-color: rgb(213, 72, 7);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.371);
    font-weight: bold;
}

.key:hover{
    background-color: rgb(255, 127, 148);
    cursor: pointer;
    
}
